@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body,
header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-wobble {
  border-radius: 250px 750px 250px 750px /
                 750px 250px 750px 250px;
  animation: wobble 20s ease-in-out alternate infinite;
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}

body {
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  height: 75;
  justify-content: top;
  gap: 20px;

  figure {
    overflow: hidden;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.0);
      object-position: top 0px right 0px;
    }
  }

  h1 {
    margin: 0;
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }

  h3 {
    font-size: 14px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }

  main {
    gap: 20px;

    button {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      width: 200px;
      height: 50px;
      background-color: #ffffff;
      color: #333;
      border: none;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background-color: #ffffff00;
        border: 1px solid white;
        color: white;
      }
    }
  }
}

.wrapper {
  position: absolute;
  top: 19%;
  left: 0%;
  transform: translate(-23.3%, -50%);
}

.wrapper-right {
  position: absolute;
  top: 19%;
  right: 0%;
  transform: translate(-35%, -50%);
}

ul {
  list-style: none;
}

ul li {
  width: 25px;
  height: 25px;
  position: relative;
  background: #e59500;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

ul li .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

ul li.facebook{
  background: #3b5998;
}

ul li.twitter{
  background: #00aced;
}

ul li.instagram{
  background: #bc2a8d;
}

ul li.google{
  background: #dd4b39;
}

ul li.whatsapp{
  background: #4dc247;
}

ul li.mail{
  background: #DC143C;
}

ul li.linkedin{
  background: #0e76a8;
}

ul li.github{
  background: #000000;
}

ul li.telegram{
  background: #00afed;
}

ul li.facebook div.slider{
  background: #627aac;
  height: 25px;
}

ul li.twitter div.slider{
  background: #7fd5f6;
  height: 25px;
}

ul li.instagram div.slider{
  background: #dd94c6;
  height: 25px;
}

ul li.google div.slider{
  background: #eea59c;
  height: 25px;
}

ul li.whatsapp div.slider-right{
  background: #82d47e;
  height: 25px;
}

ul li.mail div.slider-right{
  background: #DC143C;
  height: 25px;
}

ul li.linkedin div.slider{
  background: #539fc2;
  height: 25px;
}

ul li.github div.slider{
  background: #2b2b2b;
  height: 25px;
}

ul li.telegram div.slider-right{
  background: #00afed;
  height: 25px;
}

.slider {
  content: "";
  position: absolute;
  top: 0;
  left: 32px;
  width: 0px;
  height: 20px;
  background: #eebb5c;
  border-radius: 3px;
  transition: all 0.5s 0.3s ease;
}

.slider p {
  font-family: arial;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 20px;
  opacity: 0;
  transition: all 0.6s ease;
}

ul li:hover .slider {
  width: 80px;
  transition: all 0.5s ease;
}

ul li:hover .slider p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}

.slider-right {
  content: "";
  position: absolute;
  top: 0;
  right: 32px;
  width: 0px;
  height: 20px;
  background: #eebb5c;
  border-radius: 3px;
  transition: all 0.5s 0.3s ease;
}

.slider-right p {
  font-family: arial;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 20px;
  opacity: 0;
  transition: all 0.6s ease;
}

ul li:hover .slider-right {
  width: 80px;
  transition: all 0.5s ease;
}

ul li:hover .slider-right p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}

/* youtube link */
.youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
}

.youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.bg {
  animation:slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #53c 50%, #d63 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:17s;
}

.bg3 {
  animation-duration:19s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.button {
  --background: #1A1C27;
  --background-hover: #292C3B;
  --background-progress: #999EB4;
  --background-progress-active: #275EFE;
  --background-progress-success: #292C3B;
  --text: #fff;
  --success-text: #292C3B;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 0;
  line-height: 21px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background: none;
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  --letters-y: 0px;
  --letters-r: 0deg;
  --letters-o: 1;
  --progress-opacity: 0;
  --background-opacity: 1;
  --progress: 157;
  --progress-y: .5px;
  --progress-sx: 1;
  --progress-sy: 1;
  --success-opacity: 0;
}
.button:hover {
  --fill: var(--background-hover);
}
.button.active {
  --fill: var(--background-progress);
  --fill-delay: .2s;
  --fill-duration: .4s;
}
.button.success {
  --success-background: var(--background-progress-success);
}
.button svg {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
.button svg.background {
  height: 45px;
  top: 0;
  opacity: var(--background-opacity);
  fill: var(--fill, var(--background));
  transition: fill var(--fill-duration, 0.2s) linear var(--fill-delay, 0s);
}
.button svg.progress {
  height: 32px;
  bottom: -13px;
  stroke: var(--background-progress);
  fill: none;
  stroke-width: 7;
  stroke-linecap: round;
  pointer-events: none;
  opacity: var(--progress-opacity);
  transform: translateY(var(--progress-y)) scale(var(--progress-sx), var(--progress-sy)) translateZ(0);
}
.button svg.progress path:last-child {
  stroke-dasharray: 157;
  stroke-dashoffset: var(--progress);
  stroke: var(--success-background, var(--background-progress-active));
  transition: stroke 0.2s linear;
}
.button .label,
.button .success {
  z-index: 1;
}
.button .label {
  position: relative;
  display: flex;
  padding: 12px 40px;
  opacity: var(--letters-o);
}
.button .label span {
  display: block;
  transform: translateY(calc(var(--letters-y) * var(--move))) translateZ(0) rotate(calc(var(--letters-r) * var(--rotate) * var(--part)));
}
.button .success {
  position: absolute;
  left: 0;
  right: 0;
  top: 12px;
  color: var(--success-text);
  opacity: var(--success-opacity);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Inter", Arial;
  justify-content: center;
  align-items: center;
  background: #ECEEF6;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
body .dribbble img {
  display: block;
  height: 28px;
}
body .twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}
body .twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}