@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-wobble {
  border-radius: 950px 250px 950px 250px /
                 250px 950px 250px 950px;
  animation: wobble 5s ease-in-out alternate infinite;
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 750px 550px /
                   550px 750px 550px 750px;
  }
  100% {
    border-radius: 550px 750px 550px 750px /
                   750px 550px 750px 550px;
  }
}

body {
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  -webkit-text-stroke: 0.2px black;
  margin: 0;
  height: 75;
  justify-content: top;
  gap: 20px;

  figure {
    overflow: hidden;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 18px;
    border: 1px solid #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.0);
      object-position: top 0px right 0px;
    }
  }

  h1 {
    margin: 0;
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }

  h3 {
    font-size: 14px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }

  main {
    gap: 20px;

    button {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      width: 200px;
      height: 50px;
      background-color: #ffffff;
      color: #333;
      border: none;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background-color: #ffffff00;
        border: 1px solid white;
        color: white;
      }
    }
  }
}

.wrapper {
  position: absolute;
  top: 19%;
  left: 0%;
  transform: translate(-23.3%, -50%);
}

.wrapper-right {
  position: absolute;
  top: 19%;
  right: 0%;
  transform: translate(-25%, -50%);
}

ul {
  list-style: none;
}

ul li {
  width: 40px;
  height: 40px;
  position: relative;
  background: #e59500;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

ul li .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #fff;
}

ul li.facebook{
  background: #3b5998;
}

ul li.twitter{
  background: #00aced;
}

ul li.instagram{
  background: #bc2a8d;
}

ul li.google{
  background: #dd4b39;
}

ul li.whatsapp{
  background: #4dc247;
}

ul li.mail{
  background: #DC143C;
}

ul li.linkedin{
  background: #0e76a8;
}

ul li.github{
  background: #000000;
}

ul li.telegram{
  background: #00afed;
}

ul li.facebook div.slider{
  background: #627aac;
  height: 40px;
}

ul li.twitter div.slider{
  background: #7fd5f6;
  height: 40px;
}

ul li.instagram div.slider{
  background: #dd94c6;
  height: 40px;
}

ul li.google div.slider{
  background: #eea59c;
  height: 40px;
}

ul li.github div.slider-right{
  background: #2b2b2b;
  height: 40px;
}

ul li.linkedin div.slider-right{
  background: #539fc2;
  height: 40px;
}

.slider {
  content: "";
  position: absolute;
  top: 0;
  left: 45px;
  width: 0px;
  height: 20px;
  background: #eebb5c;
  border-radius: 3px;
  transition: all 0.5s 0.3s ease;
}

.slider p {
  font-family: arial;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 20px;
  opacity: 0;
  transition: all 0.6s ease;
}

ul li:hover .slider {
  width: 80px;
  transition: all 0.5s ease;
}

ul li:hover .slider p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}

.slider-right {
  content: "";
  position: absolute;
  top: 0;
  right: 45px;
  width: 0px;
  height: 20px;
  background: #eebb5c;
  border-radius: 3px;
  transition: all 0.5s 0.3s ease;
}

.slider-right p {
  font-family: arial;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 20px;
  opacity: 0;
  transition: all 0.6s ease;
}

ul li:hover .slider-right {
  width: 80px;
  transition: all 0.5s ease;
}

ul li:hover .slider-right p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}

/* youtube link */
.youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
}

.youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.bg {
  animation:slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #53c 50%, #d63 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:17s;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.bg3 {
  animation-duration:19s;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

a {
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}

.menu {
  filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background: #FFA500;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  margin-left: -40px;
  position: absolute;
  top: 10px;
  color: white;
  text-align: center;
  line-height: 70px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 40px;
  text-align: left;
}

.menu-item:hover {
  background: #ffffff;
  color: #C7C7C7;
}
.menu-item:nth-child(3) {
  transition-duration: 70ms;
}
.menu-item:nth-child(4) {
  transition-duration: 130ms;
}
.menu-item:nth-child(5) {
  transition-duration: 190ms;
}
.menu-item:nth-child(6) {
  transition-duration: 250ms;
}
.menu-item:nth-child(7) {
  transition-duration: 310ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 160ms;
  transform: translate3d(114.42548px, 11.48084px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 240ms;
  transform: translate3d(77.18543px, 85.2491px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 320ms;
  transform: translate3d(0.09158px, 114.99996px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 400ms;
  transform: translate3d(-77.04956px, 85.37192px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 480ms;
  transform: translate3d(-114.40705px, 11.66307px, 0);
}